@import "tailwindcss";

@theme {
  /* Typography - Custom Font Families */
  --font-family-heading: "Noto Sans JP", sans-serif;
  --font-family-body: "Noto Sans JP", sans-serif;

  /* Color Theme - Primary Colors */
  --color-primary: oklch(0.638 0.237 25.44); /* #FB2C36 */
  --color-primary-hover: oklch(0.589 0.233 29.63); /* #E7180B */
  --color-primary-light: oklch(0.702 0.189 22.23); /* #FF6467 */
  --color-primary-dark: oklch(0.514 0.204 29.49); /* #C11007 */

  /* Color Theme - Background Colors */
  --color-bg-primary: #FDFEFE; /* slate-900 */
  --color-bg-secondary: oklch(27.9% 0.041 260.031); /* slate-800 */
  --color-bg-tertiary: oklch(37.2% 0.044 257.287); /* slate-700 */
  --color-bg-card: var(--color-bg-secondary) ; /* slate-800 */
  --color-bg-card-hover: var(--color-bg-tertiary); /* slate-700 */

  /* Color Theme - Text Colors */
  --color-text-primary: #ffffff; /* white */
  --color-text-secondary: oklch(86.9% 0.022 252.894); /* slate-300 */
  --color-text-tertiary: oklch(70.4% 0.04 256.788); /* slate-400 */
  --color-text-muted: oklch(55.4% 0.046 257.417); /* slate-500 */

  /* Color Theme - Border Colors */
  --color-border-primary: var(--color-bg-tertiary); /* slate-700 */
  --color-border-secondary: oklch(44.6% 0.043 257.281); /* slate-600 */
  --color-border-accent: var(--color-primary); /* orange-500 */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-body);
  line-height: 1.8;
}

/* Utility classes for font families */
.font-heading {
  font-family: var(--font-family-heading);
}

.font-body {
  font-family: var(--font-family-body);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-hover;
}
